.img-zoom {
    position: relative;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
}

    .img-zoom:hover {
        z-index: 2;
        border-radius: 5px;
        padding: 1px;
        background-color: aliceblue;
        -webkit-transform: scale(3);
        -ms-transform: scale(3);
        -moz-transform: scale(3);
        transform: scale(3);
    }